## basics
- operator
  - arithmetic
  - assignment
  
- variables
- datatypes
- keywords
- io

In [1]:
2+2

4

In [2]:
224484546+55555558

280040104

In [3]:
255455*5

1277275

In [4]:
10/3

3.3333333333333335

In [5]:
10//3

3

In [6]:
157^5

152

In [7]:
157**5

95388992557

assignment operator
'= +=   -=  *=  /=  //=  %=  **=

In [8]:
x=45 
x +=20
x -=2

In [9]:
x =101
y =2.45
z =True
name="Arpit tiwariüòä"
name +="‚ù§Ô∏è‚ù§Ô∏è"

In [10]:
a=5
b=1
c=a+b

Conditional operator
<
<=
>
>=
==

In [11]:
a>10
a<b>10

False

Logical operator
 
 and 
 or
 not

In [12]:
a=10
b=20
a<b and b<30

True

In [13]:
print(a<b and b<30)
print(a>b and b<30)

True
False

In [14]:
fruits=["apple","Banana","guavava"]
print("orange"in fruits)
print("Banana"in fruits)
print("orange"in fruits)
print("orange"in fruits)
print("orange"in fruits)
print("Guavava"in fruits)

False
True
False
False
False
False

In [15]:
x=20
y=x
print(x,y)
print(x is y)#reference equality

20 20
True

In [16]:
x=[1,2,2]
y=x 
z= x.copy()#value copy
print(x is y)
print(x is z)
print(y is z)
print(z is x)

True
False
False
False

## Datatypes
- integers int
- float float
- boolean bool
- None NoneType
- string str
- list list
- tupple tuple
- dictionary dict

In [17]:
cords= (10,20,30)
names = {"arpit","ravi","rahul"}
info ={"name":"arpit", "age":"city"}

In [18]:
del a

In [19]:
name ="123"
print(name)
del name

123